/* ・html
　表示に必要な「要素」を記載する。
・js(JavaScript)
　各ボタンやテキストの「動作」を記載する。
・css
　各要素の「レイアウト」を記載する。  */




body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

main{
    border-bottom:1px solid #ccc;
    text-align:left;

}
/* footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
} */
label{
    font-size: 70%;
    margin-bottom: 0px;
    
}
p{
    font-size:70%;
    text-align: left;
    border-bottom:1px solid #fff;
    height:20px;
    margin-top: 0px;
}

ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
li{
    text-align: center;
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}
li:hover{
    background: #0066CC;
    color:#fff;
}


/* タイトルのtextと背景画像共通*/
.title-banner{
	color: white; 
    text-align: center;
    pointer-events: none;
    height: 300px;
    width: 960px;
    margin 0;
    padding 0;
}
/* トップの背景画像*/
/* ウィンドウサイズに影響されないの、結構難しそう。。。 */
.title-banner1{
    background: peru url(../img/couple_man_woman.png) no-repeat center center;
	/* background-attachment: scroll;/*localとの違いがわからない。画像自体がスクロールできるときに違いがでる？*/
    /* fixedのときは、background-originが無視されるらしい */
	background-attachment: scroll;/*localとの違いがわからない。画像自体がスクロールできるときに違いがでる？*/
    background-origin: border-box;
	background-size: contain;
}
/* 回答画面の背景画像 */
.title-banner2{
	background: peru url(../img/fufu_young.png) no-repeat center center;
    background-attachment: scroll;
    background-origin: border-box;
	background-size: contain;
}


/* .popup.is-show{
    opacity: 1;
    visibility: visible;
}
.popup-inner img{
    width: 100%; */
}/* ここを.popupと分けている意味は？ */
/* .close-btn {
    position: absolute;
 
    width: 600px;
    height: 400px;
    line-height: 150px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
.close-btn i {
    font-size: 64px;
    color: #333;
} */
.black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 11;
    cursor: pointer;
}
.popup-text{
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 64px;
    color:red;
}



.secret:hover{
    opacity: 1;
}
.secret input{
    opacity: 0;
}

/* スタートボタン */
#start_buttun{
    display: flex;
    position: relative;
    justify-content: center;
    /* left: 20%; */
}
#page_transfer1{
    border-radius: 50%;
    line-height: 200px;
    width: 200px;
    height: 200px;
    padding: 0;
    -webkit-box-shadow: 0 5px 0 #e6d900;
    box-shadow: 0 5px 0 #e6d900;
    font-size: 24px;
}    
#page_transfer1:hover{
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
    -webkit-box-shadow: 0 2px 0 #e6d900;
    box-shadow: 0 2px 0 #e6d900;
}
#page_transfer2{
    border-radius: 50%;
    line-height: 200px;
    width: 200px;
    height: 200px;
    padding: 0;
    -webkit-box-shadow: 0 5px 0 #e6d900;
    box-shadow: 0 5px 0 #e6d900;
    font-size: 24px;
}    
#page_transfer2:hover{
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
    -webkit-box-shadow: 0 2px 0 #e6d900;
    box-shadow: 0 2px 0 #e6d900;
}
#top_page_main{
    text-align: center;
}

/* タイトル・サブタイトルのフォントや位置 */
#main-title{
    font-size: 48px;
    padding-top: 40px;
}
#sub-title{
    font-size: 30px;
    padding-top: 30px;
}

body{
    margin 0;
    padding 0;
}

